<!DOCTYPE html>
<html ng-app="coreApp">
<head>
    <title>justMail</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <div ng-controller="GroupsController as GroupsCtrl">
        
        <form>
            Add new group: <input type="text" ng-model="GroupsCtrl.groupNew" />
            <br />
            <h3>{{GroupsCtrl.groupNew}}</h3>
            <button ng-click="GroupsCtrl.add()">Add</button>
        </form>
        
        <br />
        Search: <input type="text" ng-model="groupSearch" />
        <br />
        <ul>
            <li ng-repeat="group in GroupsCtrl.groups | filter:groupSearch">{{ group }}</li>
        </ul>
        
    </div>
    
    <script src="lib/angular.js/angular.js"></script>
    <script src="lib/angular.js/angular-route.js"></script>
    <script src="js/coreApp/coreApp.js"></script>
    <script src="js/coreApp/controllers/GroupsControllers.js"></script>
    <script src="js/coreApp/directives/directives.js"></script>
    <script src="js/coreApp/filters/filters.js"></script>
    <script src="js/coreApp/services/services.js"></script>
</body>
</html>
