<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html ng-app="core">

<head>
    <title>justMail</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    
    <div ng-controller="GroupsController as GroupsCtrl">
        
        <form>
            Add new group: <input type="text" ng-model="newGroup" />
            <br />
            <h3>{{newGroup}}</h3>
            <button ng-click="add(newGroup)">Add</button>
        </form>
        
        <br />
        Search: <input type="text" ng-model="searchKeyword" />
        <br />
        <ul>
            <li ng-repeat="group in groups | filter:searchKeyword">{{ group }}</li>
        </ul>
        
    </div>
    
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-resource/angular-resource.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="core/core.js"></script>
    <script src="core/controllers/GroupsController.js"></script>
    <script src="core/directives/directives.js"></script>
    <script src="core/filters/filters.js"></script>
    <script src="core/services/GroupsService.js"></script>
</body>
</html>
